<ul class="nav flex-column pl-1">
  <li class="nav-item">
    <div class="alert alert-success">
      <strong>Success!</strong> Indicates a successful or positive action.
      <button type="button" class="btn btn-primary btn-sm">details</button>
    </div>
  </li>
</ul>
